@import "src/assets/css/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f7fd;
}

button {
    @apply bg-primary normal-case;
}